body {
	background: #eee;
}

#contentwrapper {
	background: #FFF;
	border-radius: 10px;
	margin-top: -20px;
}

.mw-parser-output {
	overflow: hidden;
}

.navbar-brand img {
	height: 90px;
}

.navbar-brand {
	min-height: 100px;
	padding-top: 20px;
	margin-bottom: -20px;
}

#navbar {
	margin-top: 30px;
}

.navbar-toggle {
	background: #719fce;
}

.navbar-toggle .icon-bar {
	background: #FFF;
}

#page-header ul.nav {
background: #719fce;
border-radius: 5px;
margin-top: 10px;
}

#page-header ul.nav > li > a {
    color: #FFF;
    transition: 0.1s;
}

#page-header ul.nav > li > a:hover {
    color: #555;
    transition: 0.3s;
    background: #d2e3f5;
}

#page-header ul.nav > li.open > a {
    color: #719fce;
}


#footer {
    padding: 2em;
    background: #2e373e;
    color: #FFF;
}

#footer ul {
    list-style: none;
    text-align: left;
    font-size: 1.2em;
}

#footer a:active,
#footer a {
    color: #709dcb;
}

#footer a:focus,
#footer a:hover {
    color: #edd400;
}

#footer .copyright {
    border-top: 1px solid #000;
    padding-top: 1em;
    margin-top: 1em;
}

/* Fix bugs */

.dropdown-menu #pt-notifications-alert {
    position: absolute;
    right: 0;
    top: 10px;
}

.dropdown-menu #pt-notifications-notice {
    position: absolute;
    top: 35px;
    right: 0px;
}
